*.ipr
*.iws
*.log
*.lck
.classpath
.DS_Store
.project
build/
classes/
bin/
logs/
node*/
out/
overlays/
target/
**/minifiedCss/
**/rawCss/
.idea/
.gradle/
.vscode/
.settings/
**/bundles/
**/bundle-assets/samplePage/
node_modules/
aws_key_gen.exe
package-lock.json
Task
.history
